footer {
    align-items: center;
    background-color: #9BE0FF;
    display: flex;
}  

@media screen and (min-width: 375px) {
    footer   {
        flex-direction: column;
    }
}

@media screen and (min-width: 922px){
    footer  {
        flex-direction: row;
    }
}